<br>
<div class="container">

        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-3">
                <a href="#"><img src="../../assets/img/logo-1.jpg" class="img-responsive"></a>
            </div>
            <div class="col-sm-6 col-md-3">
                <a href="#"><img src="../../assets/img/logo-1.jpg"  class="img-responsive"></a>
            </div>
            <div class="col-sm-6 col-md-3">
                <a href="#"><img src="../../assets/img/logo-1.jpg"  class="img-responsive"></a>
            </div>
            <div class="col-sm-6 col-md-3">
                <a href="#"><img src="../../assets/img/logo-1.jpg" class="img-responsive"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="AboutUs">
                    <p>
                        <img class="img-responsive" src="../../assets/img/logo-2.png">
                    </p>
                    <p>
                        cwiojiejviovj jceivneri owenfieno iofhiqnoe nion winw niwnc kncowqn iowndione ownciowcnoqn knc kwnceoi winciow n kineio dnc ioweo ioeio ecjiie eniceioc iod woie wioioen iowncionc einc eocn
                    </p>
                    <p>
                        rvnjev be euifhui wb hcwo ewi whedv uwve iqi bw hbc qj peo qjhdb
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="News">
                    <ul class="news">
                        <li>
                            <p><img class="img-responsive" src="../../assets/img/logo-3.jpg"> Thong tin 1</p>
                        </li>
                        <li>
                            <p><img class="img-responsive" src="../../assets/img/logo-3.jpg"> Thong tin 2</p>
                        </li>
                        <li>
                            <p><img class="img-responsive" src="../../assets/img/logo-3.jpg"> Thong tin 3</p>
                        </li>        
                    </ul>
                </div>
            </div>
        </div>
</div>
<br>
